body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1e1f22;
    color: white;
}

.app {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #2b2d31;
    padding: 10px;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    margin: 3px 0;
    border: none;
    background: transparent;
    color: #b5bac1;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar button:hover {
    background: #404249;
    color: white;
}

#status {
    margin-top: 10px;
    font-size: 12px;
    color: gray;
}

/* CHAT */
.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

/* INPUT */
.input {
    display: flex;
    padding: 10px;
    background: #2b2d31;
}

.input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.input button {
    margin-left: 10px;
    padding: 10px 15px;
    background: #5865f2;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

/* MESSAGES */
.msg {
    margin: 5px 0;
}

.user {
    font-weight: bold;
    color: #5865f2;
}
